.git
frontend/.next
frontend/node_modules
frontend/coverage
frontend/test-results
frontend/playwright-report
frontend/blob-report
shared/node_modules
shared/coverage
node_modules
npm-debug.log*
.env
.env.*
